{% extends 'email/base.html.twig' %}

{% block body %}

    <div style=" margin-bottom: 1rem;">
        <span style="font-weight: 400;font-size: 16px;">Nous avons le regret de te voir partir de la communauté des testeurs Insight Data !</span>
    </div>

    <div style="margin-bottom: 1rem;">
        <span style="font-weight: 600;font-size: 23px; color: #002C3F; margin-bottom: 1rem;">Tu as encore 9 jours pour changer d’avis, en cliquant sur ce bouton :</span>
    </div>

    <div>
        <div style="background: #00A359; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
            <a href="https://prex.insightdata.fr/login" style="color:#fff; font-size: 12px; margin: auto;text-decoration: none; font-weight :700;">Je conserve mon compte</a>
        </div>
    </div>

{% endblock %}