{% extends 'email/base.html.twig' %}

{% block body %}
    {# <tr style="background: #f5f5f5;">
        <td style="padding:40px 20px 0px 20px;">
            <span style="font-weight: 400;font-size: 20px;">Un nouveau scénario vous attend afin d'être testé!</span>
        </td>
    </tr> #}

    <tr style="background: #f5f5f5;">
        <td style="padding:40px 20px 0px 20px;">
            <div style="font-weight: 400;font-size: 20px;">
            Vous avez demandé de modifier votre mot de passe.
            Cliquez sur le lien ci-dessous pour continuer 
            </div>
            <span style="font-weight: 1000;font-size: 20px; color: green;"><a href="https://prex.insightdata.fr/update-password" style="color:#ddd; font-size: 15px; margin: auto;">Modifier mon Mot de passe</a></span>
            <div style="font-weight: 400;font-size: 20px;">
            Si vous n'etes pas à l'origine de cette demande, veuillez ignorer cet email. Votre mot de de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien 
            ci-dessus et que nous n'en aurez pas créé un nouveau.
            </div>
        </td>
    </tr>
    <tr style="background: #f5f5f5;">

    </tr>

    <tr>
        <td style="padding:40px 20px 0px 20px;">
            <div
                    style="background: #008000; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
                <a href="https://prex.insightdata.fr/login" style="color:#ddd; font-size: 15px; margin: auto;">Commencer le test</a>
            </div>
        </td>
    </tr>
{% endblock %}