{% extends 'email/base.html.twig' %}

{% block body %}
    <div style="margin-bottom:  1rem;">
        <span style="font-weight: 400;font-size: 16px;color: #002C3F;">Merci pour la confiance que vous accordez à Insight Data et félicitations pour l’acquisition de votre nouvelle licence XXXX.</span>
    </div>

    <div style="margin-bottom:  1rem;">
        <span style="font-weight: 600;font-size: 16px;color: #002C3F;margin-bottom:  1rem;">
            Vous trouverez en pièce-jointe de ce mail votre contrat et votre bon de commande signé.
        </span>
    </div>

    <div style="margin-bottom:  1rem;">
        <span style="font-weight: 400;font-size: 16px;color: #002C3F;">Ces documents sont également accessibles dans la rubrique Mon Compte de votre espace.</span>
    </div>


    <div style="margin-bottom:  1rem;">
        <div style="background: #00A359; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
            <a href="https://prex.insightdata.fr/login" style="color:#fff; font-size: 12px; margin: auto;text-decoration: none; font-weight :700;">Me connecter</a>
        </div>
    </div>
{% endblock %}