{% extends 'email/base.html.twig' %}

{% block body %}

    <div style=" margin-bottom: 1rem;">
        <span style="font-weight: 700;font-size: 18px;">Vous avez choisi la formule Pay As You Go. Pour information, chaque testeur vous sera facturé à partir de 25 € par prélévement Carte Bancaire.</span>
    </div>

    <div>
        <div style="background: #00A359; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
            <a href="https://prex.insightdata.fr/login" style="color:#fff; font-size: 12px; margin: auto;text-decoration: none; font-weight :700;">Découvrir</a>
        </div>
    </div>


{% endblock %}
