{% extends 'email/base.html.twig' %}

{% block body %}

<div style=" margin-bottom: 1rem;">
    <span style="font-weight: 400;font-size: 16px;">Votre scénario nommé {{scenario}} a rencontré un problème technique. Merci de le reprendre. !</span>
</div>

<div style="margin-bottom: 1rem;">
    <div style="font-weight: 400;font-size: 16px; margin-bottom: 1rem; color: #002C3F;">Vous avez du temps, vous êtes dans un endroit calme, avec une bonne connexion? </div>
</div>

<div style="margin-bottom: 1rem;">
    <span style="font-weight: 600;font-size: 23px; color: #002C3F; margin-bottom: 1rem;">Alors c'est parti!</span>
</div>

<div style="font-weight: 400;font-size: 16px; margin-bottom: 1rem; color: #002C3F;">Attention, les places  de testeurs sont limités, donc ne tardez pas trop</div>

<div style="font-weight: 400;font-size: 16px; margin-bottom: 1rem; color: #002C3F;">Dés que vous commencez, vous disposerez de 24h pour nous envoyer vos retours</div>

<div>
    <div style="background: #00A359; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
        <a href="https://prex.insightdata.fr/login" style="color:#fff; font-size: 12px; margin: auto;text-decoration: none; font-weight :700;">Commencer le test</a>
    </div>
</div>


{% endblock %}
