{% extends 'email/base.html.twig' %}

{% block body %}

    <div style=" margin-bottom: 1rem;">
        <span style="font-weight: 700;font-size: 18px;"> Votre demande de résiliation a bien été prise en compte, elle sera effective le XXX.</span>
    </div>

{% endblock %} 