{% extends 'email/base.html.twig' %}

{% block body %}
    <tr style="background: #f5f5f5;">
        <td style="padding:40px 20px 0px 20px;">
            <span style="font-weight: 400;font-size: 20px;">Merci pour l'intérêt que vous portez à la solution d'optimisation de l'expérience utilisateur</span>
            <span style="font-weight: 1000;font-size: 20px; color: green;">INSIGHT DATA.</span>
        </td>
    </tr>

    <tr style="background: #f5f5f5;">
        <td style="padding:40px 20px 0px 20px;">
            <span style="font-weight: 400;font-size: 20px;">Vous êtes prêts à comprendre ce qui se passe dans la téte de vos clients ? Alors c'est parti !</span>
        </td>
    </tr>
    <tr style="background: #f5f5f5;">
        <td style="padding:40px 20px 0px 20px;">
            <span style="font-weight: 1000;font-size: 20px; color: black;">Un </span>
            <span style="font-weight: 1000;font-size: 20px; color: green;">spécialiste</span>
            <span style="font-weight: 1000;font-size: 20px; color: black;">de l'expérience utilisateur Insight Data va vous contacter sous peu</span>
            <span style="font-weight: 400;font-size: 20px;">afin
                      de bien cerner le cas d'utilisation que vous avez en téte et vous guider sur la
                      présentation de l'outil.</span>
        </td>
    </tr>

    <tr>
        <td style="padding:40px 20px 0px 20px;">
            <div
                    style="background: #008000; height: 40px; width: 30%;text-align:center; border-radius: 5px;display:flex;justify-content: center;align-items: center;">
                <a href="https://prex.insightdata.fr/" style="color:#ddd; font-size: 15px; margin: auto;">Découvrir la
                    plateforme</a>
            </div>
        </td>
    </tr>
{% endblock %}